@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html{
        box-sizing: border-box;
      }

      *, *:before, *:after {
    box-sizing: border-box;
  }
body{
  margin: 0;
  padding: 0;
}
